/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.eot");
  src: url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.woff") format("woff"),
       url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.ttf") format("truetype"),
       url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_a5b37f844c9cd7b376ea412bf6f0e2f2.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-back:before,
.icon-me:before,
.icon-message:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-back:before { content: "\f102"; }
.icon-me:before { content: "\f100"; }
.icon-message:before { content: "\f101"; }
