.app-base-page{
  display: flex;
  flex-direction: column;
  height: 100%;
  .app-base-page-title{
    height: 2.5rem;
    background: #4c2ede;
    .app-base-page-title-text{
      display: inline-block;
      height: 100%;
      width: 100%;
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: center;
      color: #e3e3e3;
    }
  }
  .app-base-page-content{
    flex: 1;
  }
  .app-base-page-bottom-nav{
    height:3.5rem;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    color: #888888;
    .app-base-page-bottom-nav-item{
      flex: 1;
      text-align: center;
      transition: backgroud 0.3s linear;
      span{
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 100;
      }
      .app-base-page-bottom-nav-icon{
        font-size: 2rem;
        line-height: 2rem;
      }
    }
    .app-base-page-bottom-nav-item.selected{
      color: #741cf2;
      background: linear-gradient(top,#cccccc,#aaaaaa);
      background:-webkit-linear-gradient(top,#ffffff,#e3e3e3);
    }

  }
}
